# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- Use a markdown table to show data science tools
- show examples of arithmetic expresssions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. PyTorch

| Data Science Tools | 
| :- | 
| Data Management Tools |
| Data Integration and Transformation Tools | 
| Data Visualization Tools |

### Below are a few examples of evaluating arithmetic expressions in Python

In [32]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [34]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Greg Gunther